<%- include('partials/header') %>

    <main>
        <h1>
            <%= title %>
        </h1>

        <h2>Welcome to the CSE 340 Service Network!</h2>
        <p>Our mission is to promote service across the world by connecting volunteers with service opportunities in
            their community.</p>

        <img class="main-logo" src="images/cse340-service-network.png" alt="CSE 340 Service Network Logo">
        <% if (session.user && volunteeredProjects.length> 0) { %>
            <h2>Your Volunteer Projects</h2>
            <ul>
                <% volunteeredProjects.forEach(project=> { %>
                    <li>
                        <%= project.title %> - <%= new Date(project.date).toLocaleDateString() %>
                    </li>
                    <% }) %>
            </ul>
            <% } %>
    </main>
    <%- include('partials/footer') %>