<%- include('partials/header') %>
  <main>
    <h1>
      <%= title %>
    </h1>
    <!-- Put your page-specific content here -->
    <h2>Upcoming Service Projects</h2>
    <ul>
      <% projects.forEach(project=> { %>
        <li>
          <strong><%= project.title %></strong>: <%= project.location %>
        </li>
        <% }); %>
    </ul>
  </main>
  <%- include('partials/footer') %>